.task {
  &-name {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &-task-closeicon {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
  }
  .action {
    cursor: pointer !important;
    font-size: 15px;
  }
}
