.team {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  &-left {
    width: 1400px;
    &__filter {
      align-items: end;
      height: 59px;
      display: flex;
      gap: 30px;
      justify-content: space-between;
    }
    &__search {
      width: 300px;
    }
  }
  &-showmember {
    font-size: 15px;
  }
  &-select {
    width: 100px !important;
  }
  &-filter {
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 0;
    &__Item {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  &-memberItem {
    margin-top: 20px;
    height: 500px;
    margin-top: 20px;
    visibility: visible;
    overflow-y: scroll;
  }
  // &-left,
  // &-right {
  //   flex: 1;
  // }
  &-right {
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: column;
    width: 100%;
    &__item {
      display: flex;
      flex-wrap: nowrap !important;
      flex-direction: column;
    }
  }
  &-listMember {
    display: flex;
    flex-direction: column;
  }
  &-searchMember {
    width: 300px !important;
  }
  &-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // &-leftList {
  //   width: 1400px;
  // }
}

.ant-space-item {
  width: 100% !important;
}
