.wrapper-input {
  height: 70px;
  display: flex;
  gap: 80px;
  justify-content: flex-start;
  .input-title {
    width: 130px;
  }
  .input-note {
    width: 800px;
  }
  .input-select {
    width: 500px;
  }
  .dates-message-error,
  .client-message-error {
    color: red;
    font-size: 13px;
  }
  .wrapper-project-type {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .type-btn-custom {
    border: 0.5px solid rgb(233, 228, 228);
    background: #ffffff;
    color: #000000;
    font-weight: 400;
  }
  .type-btn-custom:hover {
    background: orange;
    color: #ffff;
  }

  .type-btn-custom--active {
    background: orange;
    color: #ffff;
  }
  .form-input {
    position: relative;
  }
}
.wrapper-input:nth-child(5),
.wrapper-input:nth-child(6),
.wrapper-input:nth-child(7) {
  align-items: center;
  margin-top: -7px;
}
.wrapper-input:first-child {
  height: 55px;
}
.wrapper-input:nth-child(5) {
  height: 100% !important;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.new-client-btn {
  height: 40px;
}
