@use "../styles/_variabels" as v;
.layout {
  &-commont {
    margin: 15px;
    border-radius: 15px;
  }
  &-header {
    position: relative;
    z-index: 10000;
    height: 80px;
    background: v.$color-bg-header;
    box-shadow: v.$box-shadow;
  }
  &-sidebar {
    width: 350px;
    box-shadow: v.$box-shadow;
  }
  &-children {
    padding: 10px;
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: v.$box-shadow;
  }
  &-bottom {
    display: flex;
    position: relative;
  }

  @media screen and (max-width: 1023px) {
    &-sidebar {
      top: 105px;
      bottom: 0;
      position: fixed;
      width: 350px;
      box-shadow: v.$box-shadow;
      transform: translateX(-500%);
      transition: all 0.5s linear;
    }
    .sidebarOpen {
      transform: translateX(0);
      z-index: 11111111111;
      background: #ffffff;
    }
    .overlay {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 100;
    }
  }
}
