@use "../../../assets/styles/_variabels" as v;
.project {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &-group {
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
  }
  &-title {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 400;
    font-family: v.$font;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__search {
      display: flex;
      gap: 20px;
    }
    &__filterSearch {
      width: 400px;
    }
  }
}
